@CHARSET "UTF-8";

form { 
	background-color: Ivory;
	padding: 4px;
	width: 480px;
	font-family: Arial, Helvetica, SansSerif;
}

form fieldset {
	border: 0px;
}
/** de moment no fem rés quan passem per sobre
 form fieldset input:hover,  */
 
form fieldset input:focus,form fieldset textarea:focus  {  
	background-color: White;
}
form fieldset legend {
	font-size: 120%;
	font-weight: bold;
}

form fieldset label {
	display: block;
	margin-bottom: 12px;
	width: 160px;
	text-align: right;
}

form fieldset input, form fieldset textarea {
	position: absolute;
	left: 200px;
	font-family: 'Lucida Console', monospace;
	background-color: LightYellow;
}

.butonera {
	text-align: right;
}

	

